In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
goemotion_bert = pd.read_csv('../data/goemotion_bert_volunteer_1000.csv', index_col=0)
goemotion_bert.head()

,admiration,amusement,anger,annoyance,approval,caring,confusion,curiosity,desire,disappointment,...,love,nervousness,optimism,pride,realization,relief,remorse,sadness,surprise,neutral
0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.998516
1,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.998397
2,0.971056,0.0,0.0,0.0,0.962864,0.0,0.0,0.00000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
3,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.98823,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.605382

In [3]:
eval_text = pd.read_csv('../data/evaluation_volunteer_text_1000.csv', index_col=0)
eval_text.head()

                                                text
0                                      u still there
1                                          call my #
2  Really, you are better than this (calling thes...
3  We're a bunch of guys working to reduce demand...
4                     lots of danger, including jail

In [6]:
data = []
for i in range(len(eval_text)):
    text = eval_text.iloc[i].values.item()
    indices = goemotion_bert.iloc[i].values > 0
    labels = goemotion_bert.columns.values[indices]
    scores = goemotion_bert.iloc[i].values[indices]
    data.append([text, labels, scores])
df = pd.DataFrame(data, columns=['text', 'labels', 'scores'])
df.head()

,text,labels,scores
0,u still there,[neutral],[0.9985159039497375]
1,call my #,[neutral],[0.998396933078766]
2,"Really, you are better than this (calling thes...","[admiration, approval]","[0.97105610370636, 0.9628638029098512]"
3,We're a bunch of guys working to reduce demand...,[curiosity],[0.988229751586914]
4,"lots of danger, including jail","[fear, neutral]","[0.8933805823326111, 0.6053820848464966]"

In [7]:
df.to_csv('../data/feedback_goemotion_bert_volunteer_1000.csv')